version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_MARKET_FACTORY_ADDRESS=${NEXT_PUBLIC_MARKET_FACTORY_ADDRESS}
      - NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=${NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID}
    restart: unless-stopped
    networks:
      - predict-and-win-network

networks:
  predict-and-win-network:
    driver: bridge

